* {
  box-sizing: border-box;
  font-family: Stencil Std, fantasy;
  font-size:100%;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

/*add flexbox style*/ 
display: flex;

.box {
	background-color: lightgreen;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 2px black;
	position: relative;
	width: 25%;
	float: left;
}


p {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 90%;
	padding: 25px;
}

header.title {
	position: absolute;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 100px;
	border-style:solid;
	border-width: 3px;
	border-color: black;
    text-align: center;
    font-size:1.2em;}

#cn {
  background-color:blue;color:white
}

#bf {
  background-color:pink;color:white;
}

#si {
  background-color:purple;color:white
}

.row {
  width: 100%;
