* {
  box-sizing: border-box;
  font-family: Stencil Std, fantasy;
  font-size:100%;

}

h1 {
  text-align: center;
  font-size: 2em;
}


.box {
	background-color: red;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	position: relative;
	border: 2px solid black;
	width: 50%;
}


p {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 50%;
}

header.title {
	position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    font-size:2em;
}

#chicken {
  background-color:blue;
}

#beef {
  background-color:blue;
}

#sushi {
  background-color:blue;
}
