* {
  box-sizing: border-box;
  font-family: Stencil Std, fantasy;
  font-size:120%;

}

h1 {
  text-align: center;
  font-size: 4em;
}


.box {
	background-color: green;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	position: relative;
	border: 2px solid black;
	width: 90%;
}


p {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 90%;
}

header.title {
	position: absolute;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    font-size:1.2em;
}

#chicken {
  background-color:red;
}

#beef {
  background-color:yellow;
}

#sushi {
  background-color:green;
}
